* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: black;
}



#screen {
    width: 90vw;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    background-color: black;
    color: white;
    margin: 0px auto;
    
}

#calculated {
    
    width: 50%;
    height: 60%;
    display: block;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
}

#display {
    
    height: 60%;
    display: block;
    width: 70%;
    text-align: right;
    float: right;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 15px;
}

#container {
    width: 90vw;
    height: 70vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    margin: 0px auto;
    gap: 10px;
    
    
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
    
    
}



.button{
    outline: 1px solid white;
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.operation {
    
    color: rgb(255, 255, 255);
    background-color: orange;
    
}

#delete {
    
    
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    outline: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    
}

#clear {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: red;
    height: 100%;
    
    
}

#equals {
    outline: 1px solid white;
    flex: 1;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#back {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1px solid white;
    color: red;
}

